@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 224 71.4% 4.1%;

        --muted: 220 14.3% 95.9%;
        --muted-foreground: 220 8.9% 46.1%;

        --popover: 0 0% 100%;
        --popover-foreground: 224 71.4% 4.1%;

        --card: 0 0% 100%;
        --card-foreground: 224 71.4% 4.1%;

        --border: 220 13% 91%;
        --input: 220 13% 91%;

        --primary: 220.9 39.3% 11%;
        --primary-foreground: 210 20% 98%;

        --secondary: 220 14.3% 95.9%;
        --secondary-foreground: 220.9 39.3% 11%;

        --accent: 220 14.3% 95.9%;
        --accent-foreground: 220.9 39.3% 11%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 20% 98%;

        --ring: 224 71.4% 4.1%;

        --radius: 0.5rem;
    }

    .dark {
        --background: #000;
        --foreground: 210 20% 98%;

        --muted: 215 27.9% 16.9%;
        --muted-foreground: 217.9 10.6% 64.9%;

        --popover: 224 71.4% 4.1%;
        --popover-foreground: 210 20% 98%;

        --card: 224 71.4% 4.1%;
        --card-foreground: 210 20% 98%;

        --border: 215 27.9% 16.9%;
        --input: 215 27.9% 16.9%;

        --primary: 210 20% 98%;
        --primary-foreground: 220.9 39.3% 11%;

        --secondary: 215 27.9% 16.9%;
        --secondary-foreground: 210 20% 98%;

        --accent: 215 27.9% 16.9%;
        --accent-foreground: 210 20% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 20% 98%;

        --ring: 216 12.2% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        font-family: "Figtree", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        position: fixed;
        overflow: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}

.nuxt-icon svg {
    width: 100% !important;
    height: 100% !important;
}

.nuxt-icon.nuxt-icon--fill, .nuxt-icon.nuxt-icon--fill * {
    display: block;
}

.pt-full {
    padding-top: 100%;
}

.no-scroll::-webkit-scrollbar {
    display: none;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.text-2xs {
    font-size: 10px;
}


:root {
    --shadow-color: #FF9E9E;
    --shadow-color-light: white;
}

.task:nth-child(odd),
.app:nth-child(odd) {
    background: #FAFAFA;
}

.border-doodle {
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    border-image: url("/border.svg") 10 10 10 10 stretch stretch;
}

a {
    cursor: pointer;
}

.major-mono {
    font-family: "IBM Plex Mono", monospace;
}


.dialog-content {
    width: calc(100% - 32px);
}

textarea,
input {
    @apply border border-gray-300 outline-none rounded-lg p-1.5 px-3;
}

.divider {
    @apply relative text-center;
}

.divider span {
    @apply bg-white px-4 text-xs uppercase font-bold;
}

.divider:before {
    @apply border-gray-400 border-b absolute -z-10 inset-0 bottom-3;

    content: "";
}

.label {
    @apply text-xs uppercase font-bold text-gray-500;
}

* {
    touch-action: manipulation;
}
