@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 224 71.4% 4.1%;

        --muted: 220 14.3% 95.9%;
        --muted-foreground: 220 8.9% 46.1%;

        --popover: 0 0% 100%;
        --popover-foreground: 224 71.4% 4.1%;

        --card: 0 0% 100%;
        --card-foreground: 224 71.4% 4.1%;

        --border: 220 13% 91%;
        --input: 220 13% 91%;

        --primary: 220.9 39.3% 11%;
        --primary-foreground: 210 20% 98%;

        --secondary: 220 14.3% 95.9%;
        --secondary-foreground: 220.9 39.3% 11%;

        --accent: 220 14.3% 95.9%;
        --accent-foreground: 220.9 39.3% 11%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 20% 98%;

        --ring: 224 71.4% 4.1%;

        --radius: 0.5rem;
    }

    .dark {
        --background: #000;
        --foreground: 210 20% 98%;

        --muted: 215 27.9% 16.9%;
        --muted-foreground: 217.9 10.6% 64.9%;

        --popover: 224 71.4% 4.1%;
        --popover-foreground: 210 20% 98%;

        --card: 224 71.4% 4.1%;
        --card-foreground: 210 20% 98%;

        --border: 215 27.9% 16.9%;
        --input: 215 27.9% 16.9%;

        --primary: 210 20% 98%;
        --primary-foreground: 220.9 39.3% 11%;

        --secondary: 215 27.9% 16.9%;
        --secondary-foreground: 210 20% 98%;

        --accent: 215 27.9% 16.9%;
        --accent-foreground: 210 20% 98%;

        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 210 20% 98%;

        --ring: 216 12.2% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        font-family: "Stolzl Display", monospace;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        position: fixed;
        overflow: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        --head-top-extra: 0px;
    }
}

.wrapper {
    height: 100svh;
    padding-top: calc(env(safe-area-inset-top) + var(--head-top-extra));
}

.nuxt-icon svg {
    width: 100% !important;
    height: 100% !important;
}

.nuxt-icon.nuxt-icon--fill, .nuxt-icon.nuxt-icon--fill * {
    display: block;
}

.pt-full {
    padding-top: 100%;
}

.no-scroll::-webkit-scrollbar {
    display: none;
}

.prevent-select {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.text-2xs {
    font-size: 10px;
}

:root {
    --shadow-color: #FF9E9E;
    --shadow-color-light: white;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.task:nth-child(odd),
.app:nth-child(odd) {
    background: #FFF;
}

a {
    cursor: pointer;
}

.dialog-content {
    width: calc(100% - 32px);
}

textarea,
input {
    @apply border shadow-inner outline-none rounded-lg p-1.5 px-3;
}

.divider {
    @apply relative text-center;
}

.divider span {
    @apply bg-white px-4 text-xs uppercase font-bold;
}

.divider:before {
    @apply border-gray-400 border-b absolute -z-10 inset-0 bottom-3;

    content: "";
}

.label {
    @apply text-xs uppercase font-bold text-gray-500;
}

* {
    touch-action: manipulation;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.145 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.145 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.985 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --border: oklch(0.269 0 0);
    --input: oklch(0.269 0 0);
    --ring: oklch(0.439 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.269 0 0);
    --sidebar-ring: oklch(0.439 0 0);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}

.menu {
    @apply gap-5 md:gap-6 flex justify-center items-center text-sm uppercase font-bold;
}

.menu a.router-link-active,
.menu .item.active {
    background-image: url("../../public/underline.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 80px;
}

.menu a,
.menu .item {
    @apply py-1.5 flex justify-center items-center gap-1 cursor-pointer border-b-2 border-transparent;
}

.dropbox {
    @apply overflow-hidden shadow border rounded-xl rounded-b-none md:rounded-b-xl md:rounded-t-none border-b-0 md:border-t-0
}

.task-control {
    @apply text-xs bg-white cursor-pointer flex items-center gap-1 p-1 px-4;

    z-index: 0;
}

.act {
    @apply font-bold cursor-pointer rounded-none hover:rounded-2xl hover:bg-yellow-100 duration-300 p-2 flex items-center gap-1;
}

.sticky {
    transition: .1s;
}

.sticky.active {
    box-shadow: 0 7px 7px 5px;
}

@keyframes filling {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 1000px 0;
    }
}

.wave {
    @apply h-full w-4 relative overflow-hidden;
}

.wave:before {
    @apply rotate-90;

    content: "";
    position: absolute;
    width: 400%;
    height: 200%;
    top: -50%;
    left: -50%;
    background-image: url("/wave.svg");
    background-size: contain;
}

a.router.router-link-exact-active {
    @apply text-blue-500;
}

.text-2xs {
    font-size: 10px;
}

.btn-timer {
    @apply rounded-2xl h-12 w-full relative overflow-hidden;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari, Chrome */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */
}

[data-title] {
    font-size: 16px;
    font-family: "Stolzl Display", monospace;
}

.content {
    font-family: "Lexend", serif;
}

.center {
    @apply flex items-center justify-center;
}

.nuxt-icon {
    display: inline-flex;
}
