name: Deploy to VPS

on:
  push:
    branches:
      - main
      - dev

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan 45.76.181.237 >> ~/.ssh/known_hosts

      - name: Deploy via SSH
        run: |
          ssh -i ~/.ssh/id_ed25519 root@45.76.181.237 << 'EOF'
            if [[ "${GITHUB_REF##*/}" == "main" ]]; then
              cd /home/frontend/pomoduck
            elif [[ "${GITHUB_REF##*/}" == "dev" ]]; then
              cd /home/pomoduck/front_dev
            git stash
            git pull origin main
            pnpm install
            pnpm run build
            if [[ "${GITHUB_REF##*/}" == "main" ]]; then
              pm2 restart pomoduck
            elif [[ "${GITHUB_REF##*/}" == "dev" ]]; then
              pm2 restart pomoduck_dev
           
          EOF
